.alert {
    color: red;
}
.bigger{
    text-transform: capitalize;
}
#this-aint-your-daddys-ID{
    background-color: red;
}
.odin,
.daodin{
    color: brown;
    background-color: antiquewhite;
}
.odin{
    font-weight: 900;
}
.daodin{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    height: max-content;
    width: 500px;
}